nav ul{
	float: left;
	list-style: none;
	margin-right: 40px;
	position: relative;

}

nav ul li {
	float:left;
	display: inline-block;
	background: black;
	margin:0 5px;
} 
nav ul li a{
	text-decoration: none;
	line-height: 70px;
	font-size: 13px; 
	padding: 8px 15px;
}
nav ul li a:hover{
	box-shadow: 0 0 5px #33ffff,
	            0 0 5px #66ffff,
}
nav ul ul{
	position: absolute;
	top: 70px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}
nav ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}

nav ul ul li{
	position: relative;
	margin: 0px;
	width: 150px;
	float: none;
	display: list-item;
}
nav ul ul li a{
	line-height: 50px;
}
nav ul ul ul li{
	position: relative;
	top: -70px;
	left: 150px;
}
.show,input{
	display: none;
}

@media all and (max-width: 968px){
	nav ul{
		margin-left: 0px;
		float: left;
	}
	nav ul li, nav ul ul li{
		display: block;
		width: 100%;
	}

}